In [36]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
import numpy as np

from requests import get

In [37]:
url='https://www.indeed.fr/emplois?q=développeur%2C+data+scientist%2C+data+analyst%2C+business+intelligence&l=France'
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<script type="text/javascript" src="/s/d9309ae/fr_FR.js"></script>
<link href="/s/b512638/jobsearch_all.css" rel="stylesheet" type="text/css">
<link rel="alternate" type="application/rss+xml" title="Emploi Développeur, Data Scientist, Data Analyst, Business Intelligence - France - Travail" href="http://www.indeed.fr/rss?q=d%C3%A9veloppeur%2C+data+scientist%2C+data+analyst%2C+busin

In [38]:
soup=BeautifulSoup(response.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [64]:
dflocation = pd.DataFrame(columns=["location"])
dfcompany = pd.DataFrame(columns=["company"])
dfjob_title = pd.DataFrame(columns=["job_title"])
dfsalary = pd.DataFrame(columns=["salary"])
dfsummary= pd.DataFrame(columns=["summary"])
cities = ['Paris','Nancy','Lyon','Bordeaux','Metz','Toulouse','Marseille','Lille','Strasbourg','Nice']
df = pd.DataFrame(columns=["location", 'company', 'job_title', 'salary','summary'])
max_results_per_city = 1000

In [65]:


def extract_data(soup):
    df = pd.DataFrame(columns=["location", 'company', 'job_title', 'salary', 'summary'])
    for city in cities:
        for start in range(0, max_results_per_city, 10):
            page=requests.get('https://www.indeed.fr/emplois?q=développeur%2C+data+scientist%2C+data+analyst%2C+business+intelligence&l=' + str(city) + '&start=' + str(start))
            time.sleep(1)
            soup = BeautifulSoup(page.text,"lxml",from_encoding="utf-8")
            for b in soup.find_all('span', {'class': 'location'}):
                location = b.text
                dflocation.loc[len(dflocation)] = [location]
                #df.append({"location":location}, ignore_index=True)
            for i in soup.find_all('span', {'class':'company'}):
                company = i.text
                dfcompany.loc[len(dfcompany)] = [company]
                #df.append({"company":company}, ignore_index=True)
            for a in soup.find_all('a', {'data-tn-element':'jobTitle'}):
                job_title = a.text
                dfjob_title.loc[len(dfjob_title)] = [job_title]
                #df.append({"job_title": job_title}, ignore_index=True)
            for c in soup.findAll('div', attrs={'class': 'summary'}):
                summary = c.text.strip()
                dfsummary.loc[len(dfsummary)] = [summary]
                #df.append({"summary":summary}, ignore_index=True)
            for entry in soup.find_all('td', {'class' : 'salaryText'}):
                try:
                    salary = entry.find('salaryText').text
                    dfsalary.loc[len(dfsalary)] = [salary]  
                except:
                    salary = 'NA'
                    dfsalary.loc[len(dfsalary)] = [salary]
                    #df.append({"salary": salary}, ignore_index=True)
    frames = [dflocation,dfcompany,dfsalary,dfjob_title,dfsummary]
    df= pd.concat(frames)                
    return(df)

In [66]:
extract_data(soup)

/Users/charleshajjar/opt/anaconda3/lib/python3.7/site-packages/bs4/__init__.py:203: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

,location,company,salary,job_title,summary
0,Paris (75),NaN,NaN,NaN,NaN
1,Paris (75),NaN,NaN,NaN,NaN
2,Issy-les-Moulineaux (92),NaN,NaN,NaN,NaN
3,Clichy (92),NaN,NaN,NaN,NaN
4,Asnières-sur-Seine (92),NaN,NaN,NaN,NaN
...,...,...,...,...,...
18645,NaN,NaN,NaN,NaN,Le business model et management innovant de So...
18646,NaN,NaN,NaN,NaN,Vous participez aux discussions avec les autre...
18647,NaN,NaN,NaN,NaN,Virtualisation: Comme utilisateur ou développe...
18648,NaN,NaN,NaN,NaN,La formation « Développeur d’Application Pytho...
18649,NaN,NaN,NaN,NaN,Développeur web full stack h/f ou similaire: 2...

In [ ]:
df=extract_data(soup)

/Users/charleshajjar/opt/anaconda3/lib/python3.7/site-packages/bs4/__init__.py:203: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")