In [1]:
import numpy as np
import pandas as pd
import pandas as pd
from IPython.display import Markdown, display
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
import numpy as np
from sklearn import metrics    
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc
from sklearn.preprocessing import label_binarize

In [2]:
data = pd.read_csv('/Users/charleshajjar/OneDrive/indeed-master/csv/jobs_it_ml.csv')

In [3]:
data = data[data.salary_mean.notnull()]

In [4]:
data = data[data.dep.notnull()]

In [5]:
data.head(10)

,salary_mean,salary_band,dep,query_developpeur,query_data+scientist,query_business+intelligence,query_data+analyst,contract_commission,contract_cdi,contract_intérim,...,éol,éolien,éolienne,épargne,équipe,étud,étude,études,évaluation,être
5,40458.0,1.0,75.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,48000.0,1.0,67.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16,60000.0,1.0,33.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,60000.0,1.0,94.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,60000.0,1.0,33.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
39,55000.0,1.0,92.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
45,10800.0,0.0,31.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,41391.5,1.0,33.0,0,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
54,42000.0,1.0,75.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55,50000.0,1.0,75.0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data.shape

(447, 1913)

In [7]:
y=data['salary_mean']
X=data.drop(['salary_mean'], axis=1)

In [8]:
train_data, test_data, train_label, test_label = train_test_split(X, y, test_size  = 0.25)

In [9]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [10]:
regressor = xgb.XGBRegressor(
    n_estimators=100,
    reg_lambda=1,
    gamma=0,
    max_depth=100
)

In [11]:
regressor.fit(train_data, train_label)

[16:58:55] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=100, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [12]:
y_pred = regressor.predict(test_data)

In [13]:
mean_squared_error(test_label, y_pred)

86393772.12654509

In [14]:
print(y_pred,train_label)

[131713.     32817.195  45399.004  52832.023  36760.637  46035.65
  35497.26   47301.79   55934.805  39872.742  38113.445  37148.758
  39005.023  37662.16   35007.156  20482.12   56517.836  49752.2
  44824.895  52436.84   44046.684  11289.283  52103.027  10623.566
  39558.28   80506.625  70775.7    23982.33   55292.855  31471.281
 131713.     84896.99   37423.492 106536.44   39752.25   50110.785
 115193.23   44447.7    46020.547  52392.4    50746.65   43852.836
  50990.71   10462.979  45655.684  54696.492  71578.13   80897.58
  38311.32   51549.965  33026.926  49982.04   32558.883  34093.71
  45838.39   45956.785  11139.718  52076.676  12478.564  41466.047
  34768.723  12478.564  39193.824  52783.918  33654.26   80391.99
  38311.32   28842.836  37984.52   39627.23   39005.113  49390.637
  41694.18  101177.31   76253.14   21427.385  47847.18   37568.344
  34759.414  50395.723  52688.984  39786.098  22089.389  44718.645
  48807.797  35913.477  35491.004  52797.49   45647.6    41361.254
  71696.05   46468.594  23976.412  39378.87   50030.266  23982.33
  38663.96   40513.17   36194.113  56517.836  39762.59   39469.695
   9691.17   35442.37   45084.33   38163.99   38187.3    73570.48
  52354.656  30356.37   49603.418  38163.793] 867      9600.0
153     79680.0
859     28000.0
1510    50000.0
822     70000.0
         ...
2785    22000.0
2639    40000.0
1036    55000.0
2818    18420.0
110     45000.0
Name: salary_mean, Length: 335, dtype: float64

In [15]:
data.isna().sum()

salary_mean             0
salary_band             0
dep                     0
query_developpeur       0
query_data+scientist    0
                       ..
étud                    0
étude                   0
études                  0
évaluation              0
être                    0
Length: 1913, dtype: int64

In [17]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state = 42)
from pprint import pprint
# Look at parameters used by our current forest
print('Parameters currently in use:\n')
pprint(rf.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [18]:
from sklearn.model_selection import RandomizedSearchCV
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [20]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(train_data, train_label)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   21.8s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  4.6min finished

RandomizedSearchCV(cv=3, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [21]:
rf_random.best_params_

{'n_estimators': 2000,
 'min_samples_split': 10,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 40,
 'bootstrap': True}

In [22]:
def evaluate(model, test_data, test_label):
    predictions = model.predict(test_data)
    errors = abs(predictions - test_label)
    mape = 100 * np.mean(errors / test_label)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    
    return accuracy

In [24]:
base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(train_data, train_label)
base_accuracy = evaluate(base_model, test_data, test_label)

Model Performance
Average Error: 7032.3272 degrees.
Accuracy = -66.80%.

In [25]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, test_data, test_label)

Model Performance
Average Error: 6463.4331 degrees.
Accuracy = -55.54%.

In [26]:
print('Improvement of {:0.2f}%.'.format( 100 * (random_accuracy - base_accuracy) / base_accuracy))

Improvement of -16.85%.

In [32]:
y_pred1=base_model.predict(test_data)

In [34]:
y_pred1,test_label

(array([107280.        ,  32111.        ,  36052.        ,  49550.        ,
         36990.        ,  46880.        ,  36098.        ,  42871.6       ,
         68750.        ,  38904.2       ,  40250.        ,  39109.55      ,
         39709.6       ,  39623.2       ,  34950.        ,  17845.7       ,
         54450.        ,  49233.33333333,  47209.6       ,  50875.        ,
         43012.55      ,  13980.        ,  51000.        ,  10950.        ,
         35428.        ,  72400.        ,  68900.        ,  19801.3       ,
         51141.6       ,  31100.        , 107280.        ,  72072.        ,
         41665.3       , 101760.        ,  36228.        ,  45635.75      ,
        108000.        ,  42835.75      ,  48706.5       ,  52000.        ,
         43183.33333333,  49550.        ,  49091.6       ,   9919.2       ,
         37426.        ,  49780.        ,  68850.        ,  70380.71666667,
         40999.2       ,  50845.8       ,  34030.        ,  51950.        ,
         37236.95      ,  38680.        ,  38360.        ,  45291.15      ,
          9609.        ,  50250.        ,  11220.        ,  42036.9       ,
         33889.        ,  11220.        ,  34534.8       ,  38826.        ,
         37780.35      ,  70216.66666667,  40999.2       ,  33412.        ,
         35045.65      ,  41900.        ,  35226.        ,  41576.        ,
         37928.        , 105840.        ,  71500.        ,  21227.3       ,
         45650.        ,  40585.3       ,  33892.        ,  46560.        ,
         51600.        ,  38880.        ,  21060.        ,  49603.9       ,
         41021.25      ,  34780.        ,  33168.45      ,  50125.        ,
         46450.        ,  38864.        ,  69550.        ,  47575.        ,
         21690.        ,  38458.4       ,  45250.        ,  19801.3       ,
         38950.        ,  43820.6       ,  33914.8       ,  54450.        ,
         33150.        ,  39709.6       ,  11144.4       ,  33168.45      ,
         49905.2       ,  35844.        ,  37140.        ,  70330.71666667,
         47976.        ,  30234.8       ,  40816.66666667,  34090.        ]),
 2515    120000.0
 2667     27500.0
 713      55000.0
 707      50500.0
 2229     40000.0
           ...
 2546     72000.0
 421      55000.0
 935      39000.0
 1066     47500.0
 2343     40000.0
 Name: salary_mean, Length: 112, dtype: float64)

In [27]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [28]:
# Fit the grid search to the data
grid_search.fit(train_data, train_label)
grid_search.best_params_

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    4.6s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   20.0s
[Parallel(n_jobs=-1)]: Done 349 tasks      | elapsed:   46.6s
[Parallel(n_jobs=-1)]: Done 632 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed:  2.1min finished

{'bootstrap': True,
 'max_depth': 110,
 'max_features': 3,
 'min_samples_leaf': 3,
 'min_samples_split': 12,
 'n_estimators': 100}

In [29]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, test_data, test_label)

Model Performance
Average Error: 16507.9892 degrees.
Accuracy = -590.37%.